/* =============
   General
============= */

html {
  position: relative;
  min-height: 100%;
}

.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-secondary;
  
}

a {
  text-decoration: none !important;
}
.alert-link{
  text-decoration: underline !important;
}
label {
  font-weight: 500;
  font-family: $font-family-secondary;
}

// blockquote

.blockquote {
  padding: 10px 20px;
  border-left: 4px solid  var(--#{$prefix}border-color);
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid  var(--#{$prefix}border-color);
  text-align: right;
}


.header-title {
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}



